In [1]:
#finance project -  finance data

In [2]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [3]:
#read data

In [4]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2016, 1, 1)

In [7]:
# Bank of America
BAC = data.DataReader("BAC", 'stooq', start, end)

# CitiGroup
C = data.DataReader("C", 'stooq', start, end)

# Goldman Sachs
GS = data.DataReader("GS", 'stooq', start, end)

# JPMorgan Chase
JPM = data.DataReader("JPM", 'stooq', start, end)

# Morgan Stanley
MS = data.DataReader("MS", 'stooq', start, end)

# Wells Fargo
WFC = data.DataReader("WFC", 'stooq', start, end)

In [8]:
BAC

               Open     High      Low    Close        Volume
Date
2015-12-31  14.7814  14.8325  14.6233  14.6233  5.417059e+07
2015-12-30  14.9473  14.9807  14.8070  14.8168  4.030734e+07
2015-12-29  14.9897  15.0780  14.9130  15.0131  5.251059e+07
2015-12-28  14.9630  14.9720  14.7539  14.8846  4.803435e+07
2015-12-24  15.0495  15.1035  14.9630  15.0063  3.380344e+07
...             ...      ...      ...      ...           ...
2006-01-09  39.3182  39.5294  39.0158  39.2181  1.855918e+07
2006-01-06  39.3850  39.4774  39.0089  39.1917  1.496529e+07
2006-01-05  39.2004  39.4126  38.9834  39.2525  1.761312e+07
2006-01-04  39.5549  39.7592  39.0904  39.2004  2.110031e+07
2006-01-03  39.4871  39.7023  38.8390  39.6217  1.936396e+07

[2517 rows x 5 columns]

In [9]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

In [10]:
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC],axis=1,keys=tickers)